<template>
  <div class="container grid p-8 gap-8">
    <header>
      <label>
        <input
          class="rounded-xl p-4 w-full text-gray-900"
          type="text"
          v-model="name"
          placeholder="Search"
        />
      </label>
    </header>
    <section class="country">
      <Card v-for="{ id, name, favorite } in countries" :key="id" :title="name">
        <template #actions>
          <button
            class="rounded-md py-2 px-4 bg-yellow-400 text-gray-800"
            @click="setFavorite(id, !favorite)"
          >
            Save
          </button>
        </template>
      </Card>
    </section>
    <section class="favorite">
      <Card
        v-for="{ id, name, favorite } in favoriteCountries"
        :key="id"
        :title="name"
      >
        <template #actions>
          <span @click="setFavorite(id, !favorite)">⭐️</span>
        </template>
      </Card>
    </section>
  </div>
</template>

<script lang="ts" src="./Countries"></script>

<style scoped lang="scss" src="./Countries.scss"></style>
