div.container {
  grid-auto-flow: column;
  grid-template:
    'header header' 72px
    'countries favorites' 72px / 1fr 1fr;
  grid-auto-rows: 72px;

  header {
    grid-area: header;
  }

  section {
    display: contents;

    &.country > * {
      grid-column: countries;
    }

    &.favorite > * {
      grid-column: favorites;
    }
  }
}
