<template>
  <div
    class="card rounded-xl p-4 border border-gray-200 dark:border-gray-600 box-border"
  >
    <header class="flex items-center justify-between h-full">
      <div>
        <slot name="header">
          {{ title }}
        </slot>
      </div>
      <aside>
        <slot name="actions"></slot>
      </aside>
    </header>
    <slot></slot>
  </div>
</template>

<script lang="ts" src="./Card"></script>
